*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0;
    font-family: sans-serif;
}
.main-title{
    font-family: "Young Serif", serif;
    margin: 32px;
    color: #312E2C;
}
.text{
    font-family: "Outfit", sans-serif;
    color: #5F564D;
    margin: 32px;
    font-weight: 400;
    font-size: 1rem;
}
.card{
    height: 196px;
    width: 311px;
    background-color: #FFF7FB;
    margin-inline: auto;
    padding: 24px;
    font-family: "Outfit", sans-serif;
    border-radius: 12px;
}
.bold{
    font-weight: 900;
}
.subtitle{
    font-family: "Outfit", sans-serif;
    color: #7A284E;
    list-style-position: 32px;
    font-weight: 600;
}
.preparation-list{
    color: #5F564D;
    padding-left: 8px;
}
.time-list{
    padding: 8px;
}
.preparation-list ::marker{
    color: #7A284E;
}